<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="../javascript/productList.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
 <style>
  
 </style>
<body>
<div class="row  w-100">
  
    <div class="col-lg-8 vh-100 d-flex justify-content-center overflow-auto bg-dark ">
        
        <div class="d-flex justify-content-center flex-column align-items-center w-100">
            <div class="h-100">
            <div class="row btn-group p-5">
                <button class="col-lg-5 btn btn-outline-light m-1 p-5 rounded" data-bs-toggle="collapse" data-bs-target="#milkteaCategory">Milktea's</button> 
                <!-- Milkteas -->
                    <div class="collapse bg-light border border-info border-2 rounded" id="milkteaCategory">
                        <div class="row d-flex justify-content-center align-items-center flex-row m-4">
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" onclick="product('Wintermelon', 1)">Wintermelon</button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" onclick="product('Taro', 29)">Taro</button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" onclick="product('Salted Caramel', 29)">Salted Caramel</button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" onclick="product('Matcha', 29)">Matcha</button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" onclick="product('Dark Chocolate', 29)">Dark Chocolate</button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" onclick="product('Rocky Road', 29)">Rocky Road</button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" onclick="product('Vanilla', 29)">Vanilla</button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" onclick="product('Okinawa', 29)">Okinawa</button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" onclick="product('Hokkaido', 29)">Hokkaido</button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" onclick="product('Caramel', 29)">Caramel</button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" value=""></button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" value=""></button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" value=""></button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" value=""></button>
                            <button class="m-1 btn btn-success" style="width: 150px; height: 100px;" type="button" value=""></button> 
                        </div>
                    </div>
    
                <button class="col-lg-5 btn btn-outline-light m-1 p-5 rounded" data-bs-toggle="collapse" data-bs-target="#Fruities">Fruities</button> 
                        <!-- Fruities -->
                    <div class="collapse bg-light border border-primary border-2 rounded" id="Fruities">
                        <div class="row d-flex justify-content-center align-items-center flex-row m-4">
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Fruity</button>
                            <button class="m-1 btn btn-warning btn-lg  " style="width: 150px; height: 100px;"  type="button" value="">Fruity</button> 
                        </div>
                    </div>
                <button class="col-lg-5 btn btn-outline-light m-1 p-5 rounded" data-bs-toggle="collapse" data-bs-target="#shakes">Shakes</button> 
                        <!-- shakes -->
                    <div class="collapse bg-light border border-primary border-2 rounded" id="shakes">
                        <div class="row d-flex justify-content-center align-items-center flex-row m-4">
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button>
                            <button class=" m-1 btn btn-danger btn-lg  " style="width: 150px; height: 100px;" type="button" value="">Shakes</button> 
                        </div>
                    </div>
                <button class="col-lg-5 btn btn-outline-light m-1 p-5 rounded"></button> 
                <button class="col-lg-5 btn btn-outline-light m-1 p-5 rounded"></button> 
                <button class="col-lg-5 btn btn-outline-light m-1 p-5 rounded"></button> 
                <button class="col-lg-5 btn btn-outline-light m-1 p-5 rounded"></button> 
            </div>
            </div>
        </div>

        
    </div>
     <div class="col-lg-4 bg-light vh-100 p-2">
        <div class="h-50 bg-light w-100  p-1 overflow-auto border border-4">
            
            <div class="container-fluid bg-light  p-2 ">
                <div class="content d-flex justify-content-between ">
                    <p>Quantity</p>
                    <p>Product name</p>
                    <p>Price</p>
                </div>

                <div class="receipt p-2 vh-50  ">
                    <div class="h-100 ">
                        <!-- Receipt Display -->
                        <ul class="list-group orderDisplay w-100 h-100 d-flex justify-content-evenly list-unstyled">
                             
                        </ul> 
                    </div>  
                </div>
            </div>
                
        </div>

         <div class="price bg-dark p-2 p-2 m-1 d-flex justify-content-between align-items-center rounded">
                <h3 class="text-success">Total amount</h3>
                <h1 class="text-success totalAmountDisplay">0</h1>
            </div>
        <div class="h-25 bg-light w-100">
            <div class="row h-100 W-100 m-0 d-flex justify-content-center align-items-start">
                <button class="col-lg-3 m-1 p-3 btn btn-secondary btn-lg changeBtns" disabled>1000</button>
                <button class="col-lg-3 m-1 p-3 btn btn-secondary btn-lg changeBtns" disabled>500</button>
                <button class="col-lg-3 m-1 p-3 btn btn-secondary btn-lg changeBtns" disabled>200</button>
                <button class="col-lg-3 m-1 p-3 btn btn-secondary btn-lg changeBtns" disabled>100</button>
                <button class="col-lg-3 m-1 p-3 btn btn-secondary btn-lg changeBtns" disabled>50</button>
                <button class="col-lg-3 m-1 p-3 btn btn-secondary btn-lg changeBtns" disabled>20</button>
                <button class="col-lg-3 m-1 p-3 btn btn-secondary btn-lg cur">Calc</button>
                <button class="col-lg-3 m-1 p-3 btn btn-light btn-lg changeBtns border border-5">🧉</button>
                <button class="col-lg-3 m-1 p-3 btn btn-secondary btn-lg changeBtns">CA</button>
                <button class="col-lg-3 m-1 p-3 btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#voidModal">VOID</button>
                <button class="col-lg-3 m-1 p-3 btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#menuModal">MENU</button>
                <button class="col-lg-3 m-1 p-3 btn btn-success btn-lg" onclick="tryy()">PRINT</button>
            </div>
        </div>
    </div>
</div>


<!-- Menu Modal -->
    <div class="modal fade" tabindex="-1" id="menuModal">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row d-flex align-items-center justify-content-center">
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
          <button class="btn btn-light border border-2 col-lg-5 m-1" style="height: 100px; width: 150px;">Gago</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


 <!-- RECEIPT CONTENT -->
    <div class="ReceiptBody d-none">
      <div class="ReceiptContent">
          <h1 id="ReceiptLogo">Brandname</h1>
          <p class="ReceiptAddress">
            Tokyo Metropolitan Jujutsu High School
            City: Shibuya,
            Prefecture: Tokyo,
            Postal Code: 12345,
            Country: Japan
          </p>
          <br>
          <p id="CashierName"></p>
          <p class="DateTime">
            <span id="Transaction"></span>
            <span id="Time"></span>
            <span id="Date"></span>
          </p>
          <small>---------------------------------------------------------------</small>
          <h4 id="Mode"></h4>
          <div class="Orders">
            <div class="ReceiptColumn">
              <span>Qty</span>
              <span>Product</span>
              <span>Price</span>
            </div>
             <ul class="OrdersList">
                 
             </ul>
          </div>

          <small>---------------------------------------------------------------</small>
          <div class="MoneyInfo">
            <p id="TotalAmnt"></p>
            <p id="CustCash"></p>
            <p id="Change"></p>
          </div>
          <small>---------------------------------------------------------------</small>

          <div class="Thankies">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quo vel officia quaerat quis esse. Similique nobis, quia officiis tenetur molestias animi inventore vitae sapiente provident quasi, quam ratione iste voluptates. Perspiciatis cum commodi distinctio, quam omnis saepe 
          </div>


          <div class="ReceiptNumber">
              <p id="Number"></p>
          </div>
      </div>
    </div>


    <!-- Void Modal -->
    <div class="modal fade " tabindex="-1" id="voidModal">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white">Void items</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center flex-row vh-100 w-100 p-5">
        <div class="row h-100 w-100 m-1">
          <ul class="col-lg-12  w-100 border border-2 p-3 bg-white currentItems">
           
          </ul>
        </div>

        <div class="row h-100 w-100 m-1">
          <ul class="col-lg-12  w-100 border border-2 p-3 bg-white voidedItems">
            
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</html>